body {
    font-family: 'Courier New', Courier, monospace;
    height: auto;
    background: url("img/PreperationPagePhoto.jpg") 50% fixed;
    background-size: cover;
    margin: 0px;
    text-align: center;

}

#welcome {
    margin-top: 70px;
    font-family: Serif;
    font-size: 50px;
    color: rgb(22, 255, 1);
}

#usernameSpan {
    color: rgb(192, 0, 0);
    ;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

#hardButton {
    width: 150px;
    height: 45px;
    margin-top: 50px;
    background-color: rgb(102, 1, 1);
    font-size: larger;
    font-weight: bold;
    letter-spacing: 12px;
    font-family: 'Courier New',
        Courier,
        monospace;
    border-left: burlywood 8px solid;
    border-right: burlywood 8px solid;

    border-top: none;
    color: burlywood;
}

#mediumButton {
    width: 150px;
    height: 45px;
    margin-top: 50px;
    background-color: rgb(17, 18, 134);
    font-size: larger;
    font-weight: bold;
    letter-spacing: 12px;
    font-family: 'Courier New',
        Courier,
        monospace;
    border-left: burlywood 8px solid;
    border-right: burlywood 8px solid;

    border-top: none;
    color: burlywood;

}

#easyButton {
    width: 150px;
    height: 45px;
    margin-top: 50px;
    background-color: rgb(9, 121, 37);
    font-size: larger;
    font-weight: bold;
    letter-spacing: 12px;
    font-family: 'Courier New',
        Courier,
        monospace;
    border-left: burlywood 8px solid;
    border-right: burlywood 8px solid;

    border-top: none;
    color: burlywood;

}

#hardButton:hover {
    box-shadow: 5px 20px 20px 5px rgba(0, 0, 0, 0.5), 5px 20px 20px 5px rgba(0, 0, 0, 0.5);
  
    background: url("img/HardLevel.jpg") 50% fixed;
}

#mediumButton:hover{
    box-shadow: 5px 20px 20px 5px rgba(0, 0, 0, 0.5), 5px 20px 20px 5px rgba(0, 0, 0, 0.5);
    background: url("img/MediumLevel.jpg") 50% fixed;
}

#easyButton:hover{
    box-shadow: 5px 20px 20px 5px rgba(0, 0, 0, 0.5), 5px 20px 20px 5px rgba(0, 0, 0, 0.5);

    background: url("img/EasyLevel.jpg") 50% fixed;
}

@media (max-width:1366px) {
    #easyButton {
        width: 150px;
        height: 45px;
        margin-top: 30px;
        font-size: large;
        letter-spacing: 12px;
    }
    #mediumButton {
        margin-top: 30px;
        font-size: large;
    }
    #hardButton {
        margin-top: 30px;
        font-size: large;
    }
    #welcome {
        margin-top: 50px;
        font-size: 30px;
    }
}